<?xml version="1.0"?>

<model>
  <name>CGO3 gimbal</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
   <name>Lorenz Meier</name>
   <email>lorenz@px4.io</email>
  </author>
  <author>
   <name>John Hsu</name>
   <email>hsu@osrfoundation.org</email>
  </author>
  <author>
    <name>Fabio D'Urso</name>
    <email>durso@dmi.unict.it</email>
  </author>

  <maintainer email="durso@dmi.unict.it">Fabio D'Urso</maintainer>

  <description>
    CGO3 gimbal model (extracted from PX4's sitl_gazebo typhoon_h480)
  </description>
</model>
