<?xml version="1.0"?>

<model>
  <name>Iris with Standoffs and LiftDrag GzUavPlugin Plugins</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Fadri Furrer</name>
    <email>fadri.furrer@mavt.ethz.ch</email>
  </author>
  <author>
    <name>Michael Burri</name>
  </author>
  <author>
    <name>Mina Kamel</name>
  </author>
  <author>
    <name>Janosch Nikolic</name>
  </author>
  <author>
    <name>Markus Achtelik</name>
  </author>
  <author>
    <name>Fabio D'Urso</name>
    <email>durso@dmi.unict.it</email>
  </author>

  <maintainer email="durso@dmi.unict.it">Fabio D'Urso</maintainer>


  <description>
    starting with iris_with_standoffs_demo
    remove gimbal_small_2d model with GimbalSmall2dPlugin
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
